<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>development</string>
        <string>production</string>
	</array>
	<key>description</key>
	<string>Sets the Timeserver</string>
	<key>display_name</key>
	<string>Timeserver Configuration</string>
	<key>minimum_os_version</key>
	<string>10.5.0</string>
	<key>installer_type</key>
	<string>nopkg</string>
	<key>name</key>
	<string>SetTimeserver</string>
	<key>postinstall_script</key>
	<string>#!/bin/bash
timeserver='time.company.com'
systemsetup -setnetworktimeserver "${timeserver}"
	</string>
    <key>installcheck_script</key>
    <string>#!/bin/bash
timeserver='time.company.com'
systemsetup -getnetworktimeserver | awk '{print $4}' | grep -vq "${timeserver}"</string>
	<key>unattended_install</key>
	<true/>
	<key>version</key>
	<string>1.0.0</string>
	<key>uninstallable</key>
	<false/>
</dict>
</plist>